@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    justify-content: center;
    padding: 0 35px;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 30px 10%;
    align-items: center;
    color: #edf0f1;
    background-color: #373b69;
  }
  
  h1 {
    margin-right: auto;
  }
  
  .nav_links {
    list-style-type: none;
  }
  
  .nav_links li {
    display: inline-block;
    padding: 0px 20px;
  }

  .nav_links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #edf0f1;
  }
  
  .nav_links li a:hover {
    color: #0088a9;
  }

.search {
    background-color: floralwhite;
    border: 2px solid #22254b;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    background-color: #22254b;
    outline: none;
}

.movies-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100 / 3) - 12px);
    gap: 16px;
    overflow: hidden;
    /* max-width: 1100px;
    width: 100%; */
    margin-top: 20px;
    position: relative;
} 

.movies-container h2 {
    height: 30px;
    width: 100%;
    min-width: 150px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: floralwhite;
    margin-top: 20px;
}

.movie {
    background-color: #373b69;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow:hidden;
    position: relative;
    margin: 1rem;
    min-width: 250px;
    margin-right: 10px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    font-size: 14px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.rating {
    margin-top: 5px;
    justify-content: center;
}

.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}

#prev-btn, #next-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    border: 1px solid #22254b;
    color: #22254b;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 24px;
    position: absolute;
}

#prev-btn:hover, #next-btn:hover {
    background-color: #22254b;
    color: #fff;
}

#prev-btn {
    left: 50px;
}

#next-btn {
    right: 50px;
}

@media screen and (max-width: 900px) {
    .movies-container {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .movies-container {
      grid-auto-columns: 100%;
    }
  }